<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Networking
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7">
  <ion-list id="networking-list7">
    <ion-item-sliding>
    <ion-item color="none" on-click="goToDetalhePerfil(user)" id="networking-list-item16" *ngFor="let user of users">
        
        <ion-avatar *ngIf = "user.Foto; else elseBlock" item-left>
          <img src="{{user.Foto}}" />
        </ion-avatar>
  
        <ng-template #elseBlock>
          <ion-avatar   item-left>
            <img src="../../assets/img/person.png" />
          </ion-avatar>
        </ng-template>

        <h2>
          {{user.Nome}}
        </h2>
        <p><small>{{user.NomeCurso}} - {{user.AnoEntrada}}</small></p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="positive"></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>