<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      O Meu perfil
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
 
      
 
  <form id="oMeuPerfil-form5">
      <ion-item color="none" id="oMeuPerfil-list-item6">
        
          <ion-thumbnail  >
            <img  src="{{utilizador.Foto}}" on-click="presentActionSheet();" />
          </ion-thumbnail>
           
        
        </ion-item>
        
      <ion-item id="oMeuPerfil-input1">
          <ion-label stacked>
            Nome
          </ion-label>
          <ion-input type="text" placeholder="insira o seu nome" name="perfilnome" [(ngModel)]="utilizador.Nome"></ion-input>
        </ion-item>
        <ion-item id="oMeuPerfil-input1">
            <ion-label stacked>
              Biografia
            </ion-label>
            <ion-textarea id="oMeuPerfil-markdown3" name="perfilBio" style="margin-top:0px;color:#000000;" [(ngModel)]="utilizador.Biografia" >
            
           
              </ion-textarea>  </ion-item>

    <ion-item id="oMeuPerfil-input1">
      <ion-label stacked>
        Email
      </ion-label>
      <ion-input type="email" placeholder="insira o seu endereço de email" name="perfilEmail" [(ngModel)]="utilizador.Email"></ion-input>
    </ion-item>
    <ion-item id="oMeuPerfil-input10">
        <ion-label stacked>
         Password
        </ion-label>
        <ion-input type="password" placeholder="insira a sua password" name="perfilPwd" [(ngModel)]="utilizador.Password"></ion-input>
      </ion-item>

    <ion-item id="oMeuPerfil-input11">
      <ion-label stacked>
        Telefone
      </ion-label>
      <ion-input type="tel" placeholder="insira o seu número de telefone" name="perfilTelefone" [(ngModel)]="utilizador.Telefone"></ion-input>
    </ion-item>

    <ion-item id="registar-tipo" >
        <ion-label>
          Tipo de inscrição
        </ion-label>
        <ion-select name="tipo" [(ngModel)]="utilizador.TipoId">
           
          <ion-option value="1">
            Aluno
          </ion-option>
          <ion-option value="2">
            Empresa
          </ion-option>
          <ion-option value="3">
            Sponsor
          </ion-option>
        </ion-select>
      </ion-item>


    <ion-item id="registar-select1"   *ngIf="utilizador.TipoId==2">
        <ion-label>
          Setor de atividade
        </ion-label>
        <ion-select name="setorUser" [(ngModel)]="utilizador.SetorId">
     
          <ion-option  *ngFor="let setor of setores"  [value]="setor.SetorId"  >
           {{setor.Nome}}
          </ion-option>
         
        </ion-select>
 

      </ion-item>

    <ion-item id="oMeuPerfil-input12">
        <ion-label stacked>
          Número de Aluno
        </ion-label>
        <ion-input type="number" placeholder="insira o seu número de aluno" name="perfilNumeroAluno" [(ngModel)]="utilizador.NumeroAluno"></ion-input>
      </ion-item>
      <ion-item id="registar-select1">
          <ion-label>
            Curso
          </ion-label>
          <ion-select name="perfilCursoId" [(ngModel)]="utilizador.CursoId">
            <ion-option ></ion-option>
            <ion-option value="1"  >
              MBA Exec
            </ion-option>
            <ion-option value="2" >
              MBA Marketing
            </ion-option>
          </ion-select>
        </ion-item>

      <ion-item id="oMeuPerfil-input13">
          <ion-label stacked>
            Ano de entrada
          </ion-label>
          <ion-input type="number" name="perfilAno" placeholder="insira o ano em que começou o curso" [(ngModel)]="utilizador.AnoEntrada"></ion-input>
        </ion-item>
       

    <button id="oMeuPerfil-button4" ion-button color="positive" block small on-click="saveProfile()">
      Guardar Alterações
    </button>
    <div class="spacer" style="width:300px;height:0px;" id="oMeuPerfil-spacer2"></div>
  </form>
  <button id="oMeuPerfil-button6" ion-button outline color="assertive" block small on-click="logout()">
    Logout
  </button>
</ion-content>