<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="secondary">
      Clube MBA
      
    </ion-title>
   
  </ion-navbar>
   <!-- <img src="{{Logo}}" style="max-height: 42px" item-end right  /> -->
</ion-header>
<ion-content padding id="page2" ng-if="clubeData != null">
  
 
    <p style="color:#000000;font-size:large;text-align:justify;" id="clubeMBA-markdown10" class="show-list-numbers-and-dots">
      {{clubeData.Descricao_text}}
    </p>
 
  <ion-card>
  <ion-list *ngIf="arrNoticias.length > 0 " id="clubeMBA-list2">
      <ion-item-divider color="light" id="clubeMBA-list-item-divider1">
        Notícias
      </ion-item-divider>
    </ion-list>
    <ion-list id="clubeMBA-list3">
      <ion-item color="none" on-click="goToDetalheEvento(evento)" id="clubeMBA-list-item13" *ngFor="let noticia of arrNoticias | slice:0:3; ">
        
  
        <h2>
          {{noticia.title}}
        </h2>
        <p>{{noticia.source}} -  {{noticia.pubDate}}</p>
        
  
      </ion-item>
    </ion-list>
    </ion-card>
    <ion-card>
  <ion-list *ngIf="clubeData.Eventos.length > 0 " id="clubeMBA-list2">
    <ion-item-divider color="light" id="clubeMBA-list-item-divider1">
      Eventos
    </ion-item-divider>
  </ion-list>
  <ion-list id="clubeMBA-list3">
    <ion-item color="none" on-click="goToDetalheEvento(evento)" id="clubeMBA-list-item13" *ngFor="let evento of clubeData.Eventos">
      <ion-thumbnail item-left>
        <img src="{{evento.Fotografia}}">
      </ion-thumbnail>

      <h2>
        {{evento.Nome}}
      </h2>
      <h3>{{evento.DataEvento}}</h3>
      <p></p>

    </ion-item>
  </ion-list>
  </ion-card>
<ion-card>
  <ion-list *ngIf="clubeData.Equipa.length > 0 " id="clubeMBA-list2">
    <ion-item-divider color="light" id="clubeMBA-list-item-divider1">
      Equipa
    </ion-item-divider>
  </ion-list>
  <ion-list id="clubeMBA-list3">
<div *ngFor="let users of clubeData.Equipa;  let i = index;">
   
    <ion-item-divider style="height:15px;" color="segundoSeparador" *ngIf=" i==0 || (i>0 && users.OrgaoSocial != clubeData.Equipa[i-1].OrgaoSocial)">{{users.OrgaoSocial}}</ion-item-divider>
    
    <ion-item color="none" on-click="goToDetalheUtilizador(users)" id="clubeMBA-list-item13" >

     


      <ion-thumbnail item-left item-start>
        <img src="{{users.Foto}}" />


      </ion-thumbnail>
      <h2>
        {{users.Nome}}
      </h2>

      <p>{{users.Funcao}}</p>

    </ion-item>
  </div>
  </ion-list>
</ion-card>
</ion-content>
