// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.leftMenu .item-md{

    background: #c20000 !important;
    color:#fff !important;
}

.toolbar, .toolbar-background-md{

    background: #c20000 !important;
    color:#fff !important;
    border-color:#C20434 !important;
}

.toolbar-title-md, .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color:#fff !important;
}
.topoNav > .toolbar .toolbar-background-md{

    background: #fff !important;
}

.leftMenu
{
    background: #c20000 !important;
    color:#fff !important;
}
